:host {
    display: grid;
    gap: 1.5rem;
    line-height: 1.5;
}

:host header,
[data-tag=cheatsheet] {
    display: grid;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

:host header {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    box-sizing: border-box;
}

:host header h1,
:host header label {
    /* bootstrap */
    margin: 0;
}

:host header h1 {
    font-size: 1.3rem;
    font-weight: bolder;
}

:host header label {
    text-align: right;
    padding-right: 0.35rem;
}

:host header select {
    border: 1px solid rgba(200, 200, 200, 0.5);
    background: transparent;
    border-radius: 2px;
    padding: 0.25rem;
    font-size: 0.95rem;
    color: var(--component-color);
    cursor: pointer;
}

:host header option {
    background: var(--webc-basic-background);
    cursor: pointer;
}

[data-tag=cheatsheet] {
    gap: 1.5rem;
    align-items: start;
}

[data-tag=cheatsheet] a {
    position: relative;
    text-decoration: none;
}

[data-tag=cheatsheet] .component a:hover::after {
    opacity: 1;
}

[data-tag=cheatsheet] .component a::after {
    content: '';
    display: block;
    position: absolute;
    width: 98%;
    height: 2px;
    background: var(--component-color);
    right: 1%;
    bottom: 0;
    opacity: 0;
    transition: opacity 100ms ease-out;
}

[data-tag=cheatsheet][data-sort=alphabetically] {
    grid-template-columns: repeat(3, 1fr);
}

[data-tag=cheatsheet][data-sort=library] {
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
}

:host header,
[data-tag=cheatsheet] [data-letter],
[data-tag=cheatsheet] [data-library] {
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: var(--webc-basic-color);
    background-color: var(--webc-basic-background);
}

[data-tag=cheatsheet] [data-letter] {
    min-width: 330px;
}

[data-tag=cheatsheet] [data-library] .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

[data-tag=cheatsheet] .letter {
    font-size: 1.8rem;
    font-weight: bold;
}

[data-tag=cheatsheet] .component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.1rem 0;
}

[data-tag=cheatsheet] .component > .tag,
[data-tag=cheatsheet] .component > .tag a {
    font-size: 1rem;
}

[data-tag=cheatsheet] .component > .tag a {
    color: var(--component-color);
}

[data-tag=cheatsheet] .source {
    font-size: 0.8rem;
    border-radius: 100px;
    padding: 0 5px;
    border: 0.03rem solid #535353;
    text-align: center;
    transition: all 150ms ease;
}

[data-tag=cheatsheet] .source:hover {
    background: #535353 !important;
}

[data-tag=cheatsheet] .source a {
    color: #535353;
}

[data-tag=cheatsheet] .source:hover a {
    color: #FFFFFF !important;
}

[data-tag=cheatsheet] .component .source a:after {
    display: none;
}

[data-tag=cheatsheet][data-sort=library] .source {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-width: 0.09rem;
    border-bottom-left-radius: 0;
}

[data-tag=cheatsheet][data-sort=library] .tag:before {
    content: '•';
    margin-right: 0.4rem;
    font-size: 0.85rem;
    opacity: 0.6;
}

[data-tag=cheatsheet] .source.webcardinal-core {
    border-color: var(--webcardinal-core-color);
}

[data-tag=cheatsheet] .source.webcardinal-core:hover {
    background: var(--webcardinal-core-color) !important;
}

[data-tag=cheatsheet] .source.webcardinal-core a {
    color: var(--webcardinal-core-color);
}

[data-tag=cheatsheet] .source.cardinal-barcode {
    border-color: var(--cardinal-barcode-color);
}

[data-tag=cheatsheet] .source.cardinal-barcode:hover {
    background: var(--cardinal-barcode-color) !important;
}

[data-tag=cheatsheet] .source.cardinal-barcode a {
    color: var(--cardinal-barcode-color);
}

[data-tag=cheatsheet] .source.cardinal-core {
    border-color: var(--cardinal-core-color);
}

[data-tag=cheatsheet] .source.cardinal-core:hover {
    background: var(--cardinal-core-color) !important;
}

[data-tag=cheatsheet] .source.cardinal-core a {
    color: var(--cardinal-core-color);
}

[data-tag=cheatsheet] .source.cardinal-essentials {
    border-color: var(--cardinal-essentials-color);
}

[data-tag=cheatsheet] .source.cardinal-essentials:hover {
    background: var(--cardinal-essentials-color) !important;
}

[data-tag=cheatsheet] .source.cardinal-essentials a {
    color: var(--cardinal-essentials-color);
}

[data-tag=cheatsheet] .source.cardinal-wiki {
    border-color: var(--cardinal-wiki-color);
}

[data-tag=cheatsheet] .source.cardinal-wiki:hover {
    background: var(--cardinal-wiki-color) !important;
}

[data-tag=cheatsheet] .source.cardinal-wiki a {
    color: var(--cardinal-wiki-color);
}

[data-tag=cheatsheet] .source.cardinal-forms {
    border-color: var(--cardinal-forms-color);
}

[data-tag=cheatsheet] .source.cardinal-forms:hover {
    background: var(--cardinal-forms-color) !important;
}

[data-tag=cheatsheet] .source.cardinal-forms a {
    color: var(--cardinal-forms-color);
}

[data-tag=cheatsheet] [data-letter],
[data-tag=cheatsheet] [data-library] {
    color: var(--dot-color);
}

@media screen and (max-width: 1400px) {
    [data-tag=cheatsheet][data-sort=alphabetically] {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1270px) {
    [data-tag=cheatsheet] [data-library] .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1080px) {
    [data-tag=cheatsheet] [data-library] .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    [data-tag=cheatsheet][data-sort=alphabetically] {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 580px) {
    :host header {
        grid-template-columns: auto 1fr;
        gap: 1rem;
    }

    :host header h1 {
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 530px) {
    [data-tag=cheatsheet] [data-library] .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 380px) {
    :host {
        padding: 0.75rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 350px) {
    [data-tag=cheatsheet] [data-letter] .component {
        flex-direction: column;
        align-items: start;
        border-top: 1px solid #CDCDCD;
        padding: 0.35rem 0 0.5rem 0;
    }
}

webc-link.cardinal-core:after {
    display: inline-block;
    content: 'deprecated';
    padding-left: 0.25rem;
    transform: translateY(-10%);
    font-size: 60%;
}