* {
    outline: none !important;
}

.wrapper_container {
    padding: 0 1.5rem;
}

.wrapper_container .item_container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-top: 1px solid #00336620;
}

.item_container .icon,
.item_container .item_name {
    color: #003366;
    cursor: pointer;
    font-size: 0.9rem;
}

.item_container:hover .item_name {
    display: inline-block;
    margin-bottom: -3px;
    border-bottom: 3px solid #003366;
}

a {
    text-decoration: none !important;
}

:host([active]) .item_container .item_name,
:host([active]) .dropdown .item_container .item_name {
    font-weight: bold;
}

:host([active]) .dropdown .children .item_container .item_name {
    font-weight: normal;
}

.children {
    display: none;
}

.children .wrapper_container .item_container {
    border: none;
}

.dropdown .close-section {
    position: absolute;
    top: 0; left: 0; width: 100%;
    height: 2.5rem;
    background-color: transparent;
    border: none;
}

.dropdown .close-section::after {
    content: '';
    position: absolute;
    right: 1.5rem; top: 50%;
    width: 1.7rem; height: 4px;
    margin-top: -2px;
    background-color: #0033667F;
    border: none;
    border-radius: 2px;
}

.dropdown .dropdown .close-section::after {
    right: 0;
}

.dropdown.isOpened .children {
    display: block;
}

.dropdown.isOpened .children .dropdown .children {
    display: none;
}

.dropdown.isOpened .children .dropdown.isOpened .children {
    display: block;
}