
:host {
    display: flex;
    align-items: center;
    color: #005A9C;

    /* TODO: */
    /*background-color: rgba(0, 0, 100, .25);*/
}

.wrapper_container {
    padding: 0 0.75rem;
    box-sizing: border-box;
}

a,
a span.icon,
.item_container .item_name {
    color: #005A9C;
    text-decoration: none;
    cursor: pointer;
}

a.active,
.dropdown.isOpened>.item_container>.item_name {
    font-weight: 700;
}

.children {
    position: relative;
    display: none;
    padding-left: 10px;
    padding-top: 20px;
}

.children .wrapper_container {
    padding-top: 5px;
    padding-bottom: 10px;
}

.dropdown:hover {
    cursor: pointer;
}

:host([active]) .children,
.dropdown.isOpened .wrapper_container>.children {
    display: block;
}

.dropdown.isOpened .fa-caret-right.expand-menu {
    transform: rotate(90deg);
}

:host([hamburger]) a div {
    width: 100%;
}

:host([hamburger]) div.children {
    position: relative;
    background: none;
    top: 0;
    width: 100%;
}

:host([hamburger]) div.children .item_container {
    padding-left: 32px;
}

:host([hamburger]) .wrapper_container,
:host([hamburger]) .dropdown {
    width: 100%;
}

/*.expand-menu {*/
/*    position: absolute;*/
/*    right: 5px;*/
/*    top: 22px*/
/*}*/