:host {
    width: 100%;
}


/* no icons */

span.icon {
    display: none;
}

.wrapper_container {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
}

.item_container {
    width: 100%;
    position: relative;
    padding: 7px 10px 7px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.40);
}

a,
.item_container .item_name {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}

 /* adding pointer */
a.active .item_name::before{
  content: "";
    background-image: url(/themes/default/images/hand-point.svg);
    background-size: 100% 100%;
    display: inline-block;
    height: 20px;
    width:20px;
    filter: invert(99%) sepia(3%) saturate(1419%) hue-rotate(225deg) brightness(123%) contrast(100%);
    position: relative;
    margin-left: -24px;
    margin-right: 4px;
    bottom: -5px;
}

a:hover,
.item_container:hover>.item_name,
.children .item_container .item_name:hover,
a.active .item_name {
    opacity: 85%;
}


/* no lines on subcategory */

.children .item_container {
    border-style: none;
}

.children .item_container .item_name {
    font-weight: 400;
}

.children .wrapper_container {
    padding: 0;
}

.children {
    position: relative;
    display: none;
    padding-left: 30px;
}

.dropdown:hover {
    cursor: pointer;
}


.item_container .fa {
    display: none;
}

:host([active]) > .children,
.dropdown.active > .wrapper_container>.children,
.dropdown.isOpened > .wrapper_container>.children {
    display: block;
}

:host([hamburger]) a div {
    width: 100%;
}

:host([hamburger]) div.children {
    position: relative;
    background: none;
    top: 10px;
    width: 100%;
    padding-bottom: 15px;
    margin-top: -10px;
}

:host([hamburger]) div.children .item_container {
    padding-left: 32px;
}

:host([hamburger]) .wrapper_container,
:host([hamburger]) .dropdown {
    width: 100%;
}

:host([hamburger]) .wrapper_container {
    padding-right: 40px;
}

