/*aside {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    height: 100vh;
    min-width: 280px;
    max-width: 350px;
    overflow: auto;
    color: #FFFFFF;
    background-color: #EEEEEE;
    background-image: url("./assets/images/nav-background.jpg");
} */

aside{
    height: 100%;
    background-image:  linear-gradient(90deg, rgba(212, 219, 227, 1) 0%, rgba(211, 218, 226, 1) 25%, rgba(202, 211, 220, 1) 50%, rgba(193, 203, 213, 1) 75%, rgba(184, 196, 208, 1) 100%);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #8395af;
    background-size: 100%;
    color: #003366;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    order: 1;
    flex: 1;
    min-width: 320px;
    display: flex !important;
    flex-direction: column;
    overflow: auto;
    scrollbar-color: #003366 #e5e5e5;
    scrollbar-width: thin;
    position: relative;
}

aside psk-app-menu {
    align-self: start;
}

.nav-footer {
    padding: 0.5rem 0;
    font-size: 85%;
    text-align: center;
    color: #003366;
}

/* --- */

div.global_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    background-color: #FFFFFF;
}

div.global_container.is-mobile {
    width: 100%;
    flex-direction: column;
}

.is-mobile aside {
    width: 100%;
    height: auto;
    display: block;
    overflow: inherit;
}

.is-mobile aside psk-user-profile {
    position: absolute;
}

.nav-footer.bottom-stick {
    color: #FFFFFF;
    background: #003366;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden auto;
}

psk-app-menu,
psk-app-router {
    flex-grow: 1;
}

psk-user-profile {
    flex-direction: column;
}

h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding: 0 12px;
}

section {
    order: 2;
    flex: 8;
}

::-webkit-scrollbar {
    width: 8px; height: 8px;
}
::-webkit-scrollbar-button {
    width: 0; height: 0;
}
::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border: none;
}
::-webkit-scrollbar-thumb:hover {
    background: #00336650;
}
::-webkit-scrollbar-thumb:active {
    background: #00336650;
}
::-webkit-scrollbar-track {
    background: #eeeeee;
    border: none;
}
::-webkit-scrollbar-track:hover {
    background: #eeeeee;
}
::-webkit-scrollbar-track:active {
    background: #eeeeee;
}
::-webkit-scrollbar-corner {
    background: transparent;
}