aside {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    width: 280px; height: 100vh;
    overflow: auto;
    color: #FFFFFF;
    background-color: #EEEEEE;
}

aside app-menu {
    align-self: start;
}

.nav-footer {
    padding: 0.5rem 0;
    font-size: 85%;
    text-align: center;
    color: #003366;
    background-color: #F6F6F6;
}

/* --- */

div.global_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    background-color: #FFFFFF;
}

div.global_container.is-mobile {
    width: 100%;
    flex-direction: column;
}

.is-mobile aside {
    width: 100%;
    height: auto;
    display: block;
    overflow: inherit;
}

.is-mobile aside psk-user-profile {
    position: absolute;
}

.nav-footer.bottom-stick {
    color: #FFFFFF;
    background: #003366;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden auto;
}

app-menu,
psk-app-router {
    flex-grow: 1;
}

psk-user-profile {
    flex-direction: column;
}

h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding: 0 12px;
}

section {
    order: 2;
    flex: 8;
}

::-webkit-scrollbar {
    width: 8px; height: 8px;
}
::-webkit-scrollbar-button {
    width: 0; height: 0;
}
::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border: none;
}
::-webkit-scrollbar-thumb:hover {
    background: #00336650;
}
::-webkit-scrollbar-thumb:active {
    background: #00336650;
}
::-webkit-scrollbar-track {
    background: #eeeeee;
    border: none;
}
::-webkit-scrollbar-track:hover {
    background: #eeeeee;
}
::-webkit-scrollbar-track:active {
    background: #eeeeee;
}
::-webkit-scrollbar-corner {
    background: transparent;
}