.card-body {
    margin-left: 1rem;

    display: flex;
    align-items: center;
}

.card-body img {
    margin-right: 0.5rem;
}

.card-body span {
    color: #003366;
    font-size: 1.15rem;
}

.profile {
    padding: 5px;
}