:host {
    scroll-behavior: smooth;
}

.page-title {
    text-align: center;
    padding: 1.5rem 0 0.7rem 0;
    height: 5rem;
    background-color: #EEEEEE;
    z-index: 3;
}

.page-title h1 {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: bold;
    color: #005A9C;

}

:host([has-toc]) .page-title h1 {
    margin-right: 30vw;
}

.page-content {
    color: #3d3e44;
}

.page-content .container-content {
    padding: 1rem;
}

:host([has-toc]) .page-content {
    display: grid;
    grid-template-columns: 1fr 30vw;
}

:host([has-toc]) .page-content > .container {
    grid-row-start: 1;
    grid-column-start: 1;
}

:host([has-toc]) .page-content > .toc {
    min-height: 100vh;
    max-width: 30vw;
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: #F6F6F6;
}

@media only screen and (max-width: 1360px) {
    :host([has-toc]) .page-title h1 {
        font-size: 1.4rem;
        margin-right: 0;
    }

    :host([has-toc]) .page-content {
        grid-template-columns: 1fr;
    }

    :host([has-toc]) .page-content > .toc {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        max-width: 100%;
        min-height: auto;
    }

    :host([has-toc]) .page-content > .container {
        grid-row-start: 2;
    }
}

/* OpenDSU.com iframes */

:host(.full-viewport) .page-content{
    margin: 0;
    padding: 0;
}

:host(.full-viewport) .page-content > .container{
    margin: 0;
    padding: 0;
    max-width: initial;
}

:host(.full-viewport) .page-content > .container > .container-content{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

:host(.full-viewport) ::slotted(iframe.fill-page)  {
    flex: 1;
    border: none;
}