:host(.has-avatar) > img {
    width: 40px;
}

webc-app-menu[mode='vertical'] {
    --padding: 0px;
    --color: #003366;
}

webc-app-menu[mode=vertical] .content {

    height: 100%;
    background-image: linear-gradient(
            90deg, rgba(212, 219, 227, 1) 0%, rgba(211, 218, 226, 1) 25%, rgba(202, 211, 220, 1) 50%, rgba(193, 203, 213, 1) 75%, rgba(184, 196, 208, 1) 100%);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #8395af;
    background-size: 100%;
    color: #003366;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    order: 1;
    flex: 1;
    min-width: 320px;
    display: flex !important;
    flex-direction: column;
    overflow: auto;
    scrollbar-color: #003366 #e5e5e5;
    scrollbar-width: thin;
    position: relative;
    align-items: normal;
    padding: 1.25rem;
}

webc-app-menu[mode='mobile'] {
    background-image: linear-gradient(
            90deg, rgba(212, 219, 227, 1) 0%, rgba(211, 218, 226, 1) 25%, rgba(202, 211, 220, 1) 50%, rgba(193, 203, 213, 1) 75%, rgba(184, 196, 208, 1) 100%);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #8395af;
    background-size: 100%;
    color: #003366;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    order: 1;
    flex: 1;
    min-width: 320px;
    display: flex !important;
    flex-direction: column;
}

webc-app-menu[mode=vertical] .app-menu webc-app-menu-item, webc-app-menu[mode=vertical] .app-menu webc-app-menu-item a {
    cursor: pointer;
    font-size: 0.9rem;
}

webc-app-menu[mode=vertical] .app-menu webc-app-menu-item[level="0"] {
    padding: var(--items-padding);
    display: flex;
    align-items: center;
    min-height: 2rem;
    border-top: 1px solid #00336620;
}

webc-app-menu[mode=vertical] .app-menu webc-app-menu-item[level="0"]:last-child {
    border-bottom: none;
}

webc-app-identity::before {
    content: '';
    background: url("/assets/images/opendsu-logo.png") no-repeat;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    text-align: center;
    display: block;
    justify-content: center;
    margin: auto;
}

webc-app-identity {
    text-align: center;
    display: flex;
    flex-direction: column;
    --color: #003366;
    --avatar-radius: 0;
    justify-content: center;
}

iframe.fill-page {
    width: 100vw;
    background: #fff;
    height: 100vh;
    border: none;
}
.page-content {
    color: #565656;
    padding: 0 45px 30px;
    display: flex;
}

