<psk-page title="Application page loader">
    <psk-toc title="Table of contents"></psk-toc>
    <webc-docs for="webc-app-loader">
        <psk-description title="Summary">
            <p>Loads a <code>HTML</code> file inside your application.</P>
            <psk-highlight type-of-highlight="example">
                <code>webc-app-loader</code> is an internal component used only by <webc-link tag="webc-app-router">webc-app-router</webc-link>.
            </psk-highlight>
            <p>When <webc-link tag="webc-app-router">webc-app-router</webc-link> is loaded, it brings in DOM a series of components from <code>stencil-router</code>, including an array with many components of type <code>stencil-route</code>. Each generated route will load a <code>webc-app-loader</code>.</p>
        </psk-description>
    </webc-docs>
</psk-page>