<style>
    webc-link { white-space: nowrap; }
    p { text-align: left !important; }
</style>
<psk-page title="Application container">
    <psk-toc title="Table of contents"></psk-toc>
    <webc-docs for="webc-app-container">
        <psk-description title="Summary">
            <p>A wrapper over main content of your application.</p>
            <psk-highlight type-of-highlight="example">
                <code>webc-app-container</code> is an internal component used only by <webc-link tag="webc-app-root">webc-app-root</webc-link>.
                <br>
                <code>webc-app-container</code> must include only one <webc-link tag="webc-docs">webc-app-router</webc-link>.
            </psk-highlight>
        </psk-description>
    </webc-docs>
</psk-page>