<psk-page title="Datatable">
    <psk-toc title="Table of contents"></psk-toc>
    <webc-docs for="webc-datatable">
        <psk-description title="Summary">
            <p>The UI component that shows the user information from the DataSource.</p>
            <p>
                For more in-depth resources, examples, tests and other useful information about <code>webc-datatable</code>
                visit <a href="https://webcardinal.github.io/webcardinal-workspace/tests/manual/webc-datatable/1"> Webcardinal components examples</a>.
            </p>
        </psk-description>

    </webc-docs>
</psk-page>
