:host {
    scroll-behavior: smooth;
}

.table-of-content {
    padding: 1rem;
}

.table-of-content ul {
    margin: 0;
    padding: 0;
}

.table-of-content ul li {
    cursor: pointer;
    list-style: none;
    margin-top: 0.1rem;
}

.table-of-content .card-body > ul > li {
    font-weight: bold;
    margin: 1.5rem 0;
}

.table-of-content .card-body > ul > li:first-child {
    margin-top: 0.5rem;
}

.table-of-content ul li ul li {
    font-weight: normal;
}

.table-of-content ul li ul li ul li {
    font-weight: normal;
}

psk-toc .card-body {
    padding-left: 0.5rem;
}

.table-of-content {
    position: relative;
}

.table-of-content .card.psk-card {
    position: fixed;
}

.table-of-content .card-header h5 {
    text-transform: uppercase;
    color: #003366;
    font-weight: 700;
    font-size: 1.125rem;
}

.toc-item .chapter-index {
    flex: 1;
    width: 3.5rem;
    display: inline-block;
    float: left
}

.toc-item .chapter-title:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid #003366;
}

/*@media only screen and (max-width: 1160px) {*/
/*    .table-of-content {*/
/*        position: relative;*/
/*        background-color: transparent;*/
/*        padding-left: 3rem;*/
/*        padding-top: 1rem;*/
/*        top:0;*/
/*    }*/
/*}*/

/**/
@media only screen and (max-width: 1360px) {
    .table-of-content .card.psk-card {
        position: relative;
    }
}